<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Nuestros trabajos</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <!DOCTYPE html>
                <html>
                <title>W3.CSS</title>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                <body>
                
                <div class="w3-content w3-section" style="max-width:500px">
                  <img class="mySlides w3-animate-fading" src="img/paradero1e.jpg" style="width:100%">
                  <img class="mySlides w3-animate-fading" src="img/paradero2e.jpg" style="width:100%">
                  <img class="mySlides w3-animate-fading" src="img/paradero3e.jpg" style="width:100%">
                  <img class="mySlides w3-animate-fading" src="img/paradero4e.jpg" style="width:100%">
                </div>
                
                <script>
                var myIndex = 0;
                carousel();
                
                function carousel() {
                  var i;
                  var x = document.getElementsByClassName("mySlides");
                  for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";  
                  }
                  myIndex++;
                  if (myIndex > x.length) {myIndex = 1}    
                  x[myIndex-1].style.display = "block";  
                  setTimeout(carousel, 9000);    
                }
                </script>
                
                </body>
                </html>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <!DOCTYPE html>
                <html>
                <title>W3.CSS</title>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                <body>
                
                <div class="w3-content w3-section" style="max-width:500px">
                  <img class="mySlides w3-animate-fading" src="img/teleferico1e.jpg" style="width:100%">
                  <img class="mySlides w3-animate-fading" src="img/teleferico2e.jpg" style="width:100%">
                  <img class="mySlides w3-animate-fading" src="img/teleferico3e.jpg" style="width:100%">
                  <img class="mySlides w3-animate-fading" src="img/teleferico4e.jpg" style="width:100%">
                </div>
                
                <script>
                var myIndex = 0;
                carousel();
                
                function carousel() {
                  var i;
                  var x = document.getElementsByClassName("mySlides");
                  for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";  
                  }
                  myIndex++;
                  if (myIndex > x.length) {myIndex = 1}    
                  x[myIndex-1].style.display = "block";  
                  setTimeout(carousel, 9000);    
                }
                </script>
                
                </body>
                </html>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/Escuela.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="#" class="btn btn-dark">View More Items</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
